<launch>
  <include file="$(find toroboarm_seven_gazebo)/launch/toroboarm_world.launch"/>

  <include file="$(find toroboarm_seven_control)/launch/toroboarm_control.launch"/>

  <include file="$(find toroboarm_seven_moveit_config)/launch/toroboarm_moveit_config.launch">
    <arg name="sim" value="false"/>
  </include>

</launch>
