[submodule "lyapunovlearner"]
	path = lyapunovlearner
	url = git@github.com:lakehanne/lyapunovlearner.git
[submodule "lwpr"]
	path = lwpr
	url = git@github.com/lakehanne/lwpr
	branch = ubuntu18
[submodule "dmpbbo"]
	path = dmpbbo
	url = git@github.com:lakehanne/dmpbbo.git
[submodule "StatisticalLearning"]
	path = dp_lwpr/StatisticalLearning
	url = git@github.com:lakehanne/StatisticalLearning.git
