[submodule "lyapunovlearner"]
	path = lyapunovlearner
	url = git@github.com:lakehanne/lyapunovlearner.git
[submodule "dp_lwpr/StatisticalLearning"]
	path = dp_lwpr/StatisticalLearning
	url = git@github.com:lakehanne/StatisticalLearning
[submodule "lwpr"]
	path = lwpr
	url = https://github.com/lakehanne/lwpr
	branch = ubuntu18
