<launch>
  <node name="joint_state_publisher" ns="toroboarm" pkg="toroboarm_gripper_driver"
    type="joint_state_publisher.py" args="--test" respawn="true"/>
  <node name="command_sender" ns="toroboarm" pkg="toroboarm_gripper_driver"
    type="command_sender.py" args="--test" respawn="true" output="screen" />
</launch>
